# Node
node_modules/
dist/
build/

# Environment
.env
.env.*

# Prisma
prisma/dev.db
prisma/dev.sqlite
prisma/*.sqlite
prisma/*.db
prisma/migrations
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
